@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

$gray: #808000;

.responsive-table {
  display: flex;

  thead {
    th {
      text-align: left;
      width: 100%;
      min-width: 100px;
    }
  }

  tbody {
    tr {
      margin-bottom: 5px;
      text-align: left;

      td {
        display: flex;
        width: 100%;
        min-width: 100px;

        .item-caption {
          min-width: 200px;
          font-weight: bold;
        }
      }
    }
  }

  .icon-column {
    min-width: 12px;
    max-width: 26px;
    padding-top: 4px;
  }
}

@include media-breakpoint-down(sm) {
  .responsive-table {
    tbody {
      tr {
        margin-top: 5px;
        border-top: 1px solid $gray;
      }
    }
  }
}
