.dark-app {
  @import './dark-mode-variables.scss';
  @import './reboot.scss';
  @import 'bootstrap';

  background-color: $background-color;
  color: $text-color;
  text-align: center;
}

.light-app {
  @import './light-mode-variables.scss';
  @import './reboot.scss';
  @import 'bootstrap';

  background-color: $background-color;
  color: $text-color;
  text-align: center;
}
