@import 'bootstrap';

.dark-app {
  @import './dark-mode-variables.scss';
  @import './reboot.scss';

  text-align: center;
  height: 100%;
}
.light-app {
  @import './light-mode-variables.scss';
  @import './reboot.scss';

  text-align: center;
  height: 100%;
}
